.banner {
    background-image: url("/images/products_banner.jpg");
    width: 100%;
    background-size: 100%;
    padding-top: 25.4%;
}

.body {
    justify-content: center;
}

.article-guide {
    width: 80%;
}

.article {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.article .title {
    flex-direction: column;
    align-items: center;
}

.article .title div {
    color: #999;
    font-size: 12px;
}

.article .title div span {
    margin: 0 10px 0 10px;
}

.body {
    width: 100%
}

.article .content {
    margin-top: 50px;
    flex-direction: column;
}

.article .content img {
    width: 100%;
    height: 100%;
}

.guide {
    width: 40%;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    padding-top: 50px;
    position: relative;
    margin-left: 10px;
}

.guide .title {
    position: absolute;
    left: 20px;
    top: 20px;
}

.guide .item {
    width: 100%;
    cursor: pointer;
    padding-left: 10px;
    border-left: 1px dotted #999;
    font-size: 12px;
}

.guide .pic {
    align-items: center;
    margin-right: 20px;
}

.guide .pic img {
    height: 50px;
}

.guide .content {
    flex-direction: column;
    padding: 10px;
}

.guide .description {
    color: #666;
    font-size: 12px;
    margin-top: 5px;
}