.banner {
    background-image: url("/images/school_banner.jpg");
    width: 100%;
    background-size: 100%;
    padding-top: 25.4%;
}

.title {
    padding: 10px 0 10px 30px;
    font-size: 12px;
    width: 100%;
    justify-content: center;
    background-color: #FFF;
    align-items: center;
}

.title .position {
    color: #191919;
    width: 80%;
    align-items: center;
}

.title .position a {
    color: #ffcd1d;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 14px;
}

.list {
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
}

.list .item {
    width: 60%;
    padding: 20px;
}

.list .pic {
    align-items: center;
    margin-right: 20px;
}

.list .pic img {
    height: 100px;
}

.list .content {
    flex-direction: column;
    padding: 10px;
}

.list .description {
    color: #666;
    font-size: 12px;
}

.list .column {
    font-size: 12px;
    color: #999;
    font-weight: lighter;
    padding: 2px;
    border: 1px #999 solid;
    border-radius: 5px;
    width: 100px;
    justify-content: center;
    margin-top: 10px;
}

.columns div {
    width: 200px;
    color: #666;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.columns .selected {
    font-size: 14px;
    color: #333;
    font-weight: bolder;
}